# Telegram Config
API_ID=tu_api_id
API_HASH=tu_api_hash
PHONE=tu_telefono

# IQ Option Config
IQ_EMAIL=tu_email
IQ_PASSWORD=tu_password
IQ_ACCOUNT_TYPE=PRACTICE

# App Config
GROUP_LINK=https://t.me/+W6a8NfSSR8w4YzJi
NTFY_TOPIC=tu_topic_ntfy
MAX_MONTO=10
PORCENTAJE=0.05
MAX_MARTINGALE=2
SEGUNDOS_ANTES=3
